/**
  * Navigation
  */
.nav {
  ul {
    display: table;
    margin: 0 0 0 auto;
  }

  li {
    display: table-cell;
    padding-left: 2.3em;
  }
}

.login-btn {
  text-align: right;
  color: grey('base');
  margin-bottom: 12px;
}

.nav-wrapper {
}

@media (max-width: $tablet) {
.mobile-menu-toggle, .logo {
  display: flex;
  align-items: center;
}

.mobile-menu-toggle { justify-content: flex-end; }

.logo { justify-content: flex-start; }
}
