/**
  * UTILITY CLASSES
  */

.u-text-center {
  text-align: center !important;
}

.u-color-white {
  color: #ffffff !important;
}

.u-color-secondary {
  color: color('secondary') !important;
}

.bg-tertiary {
  background-color: color('tertiary');
}
